<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
   <servlet>
    <servlet-name>abc001</servlet-name>
    <servlet-class>com12.LoginCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc001</servlet-name>
    <url-pattern>/add1</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>abc_m</servlet-name>
    <servlet-class>com12.LoginManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc_m</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>abc_t</servlet-name>
    <servlet-class>com12.LoginTechnician</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc_m</servlet-name>
    <url-pattern>/technician</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>abc_addequip</servlet-name>
    <servlet-class>com12.AddEquip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc_addequip</servlet-name>
    <url-pattern>/addequipment</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>abc_addtest</servlet-name>
    <servlet-class>com12.AddTests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc_addtest</servlet-name>
    <url-pattern>/addtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>abc00</servlet-name>
    <servlet-class>com12.LoginSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc00</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>